@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap");

:root {
  --color-black: rgb(0, 0, 0, 0.7);
}

.nav-container {
  width: 100%;
  background-color: rgb(74, 74, 74, 0.7);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.navigation {
  list-style: none;
  color: white;
  font-size: 1em;
  font-family: "Noto Sans JP", sans-serif;
  display: flex;
}
.logging {
  list-style: none;
  color: white;
  font-size: 1em;
  font-family: "Noto Sans JP", sans-serif;
  display: flex;
  /*display: flex;
  justify-content: flex-end;*/
}
.nav-container ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 4em;
}
.nav-container ul li:hover {
  background-color: var(--color-black);
  transition: background-color 100ms linear;
  cursor: pointer;
}
.active {
  background-color: var(--color-black);
}
.nav-container ul li a {
  text-decoration: none;
  color: white;
}

.nav-container ul li i {
  margin-left: 1.5em;
}
@media screen and (max-width: 1230px) {
  .nav-container ul li {
    padding: 1em 2em;
  }
}
